page {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;
}

@page {
    size: A4;
    margin: 0;
}
table,
th,
td {
    border: 1px solid black;
    border-color: black;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media print {

    @page
    {
     size: 5.5in 8.5in ;
     size: landscape;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-color: black;
    }
    table{
        width: 100%;
    }
    td {
        padding-top: 0px;
        padding-bottom: 0px;
    }
     .example-screen {
       display: none;
    }
    .meprint{
       display: block;
    }
    
    .meprintTable{
        display: block ;
     }
    
.notprintTable{
    display: none;
}
   
     
    // footer{
    //     position: fixed;
    //     height: 150px;
    //     bottom: 0;
    //     width: 100%;
    // }
    
}

 
